<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        {{ css }}
    </style>

</head>

<body>

<div class="page">

    {% include "components/header.html" %}

    <main>

        {% include "components/customer_information.html" %}

        {% include "components/installation_target.html" %}

        {% include "components/savings.html" %}

        {% include "components/financial_highlights.html" %}

    </main>

    {% include "components/footer.html" %}

</div>

</body>

</html>
