<header class="proposal-header">

    <div class="header-left">

        <img
            src="{{ maelo_logo }}"
            class="maelo-logo"
            alt="Maelo Solar"
        >

        <div class="powered-row">

            <span class="powered-text">
                Powered by
            </span>

            <img
                src="{{ bright_logo }}"
                class="bright-logo"
                alt="Bright Energy"
            >

            <span class="wholesale-text">
                | Wholesale Solutions
            </span>

        </div>

    </div>

    <div class="header-divider"></div>

    <div class="header-right">

        <img
            src="{{ hdm_logo }}"
            class="hdm-logo"
            alt="HDM"
        >

    </div>

</header>
